<!DOCTYPE html>
<html>
<head>
    <title>Sensor Data Dashboard</title>
    <script>
        // Refresh the page every 10 seconds
        setTimeout(function() {
            location.reload();
        }, 10000);
    </script>
</head>
<body>
    <h1>Sensor Data Dashboard</h1>
    <div>
        <p>Average Temperature: {{ data.average_temperature }}°C</p>
        <p>Average Humidity: {{ data.average_humidity }}%</p>
        <p>Highest Humidity: {{ data.highest_humidity }}</p>
        <p>Highest temperature: {{ data.highest_temperature }}</p>
        <p>Lowest Humidity: {{ data.lowest_humidity }}</p>
        <p>Lowest Temperature: {{ data.lowest_temperature }}</p>
    </div>
    </div>

    <!-- Display the plot image -->
    <div>
        <img src="{{ plot_image }}" alt="Sensor Data Plot">
    </div>
</body>
</html>


